<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">การแจ้งเตือน</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">การแจ้งเตือน</li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="card">

                <div class="row" style="padding-top: 10px; padding-left: 10px;">
                    <div class="col-4">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>หัวข้อ</mat-label>
                            <span matPrefix>
                                <mat-icon class="mr-2">payment</mat-icon>
                            </span>
                            <input [formControl]="title" matInput placeholder="" />
                        </mat-form-field>
                    </div>

                    <div class="col-4">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>จาก</mat-label>
                            <span matPrefix>
                                <mat-icon class="mr-2">how_to_reg</mat-icon>
                            </span>
                            <input [formControl]="form" matInput placeholder="" />
                        </mat-form-field>
                    </div>

                    

                </div>

                <div class="row" style="padding-top: 10px; padding-left: 10px; padding-bottom: 10px;">

                    <div class="col-4">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>รายละเอียด</mat-label>
                            <span matPrefix>
                                <mat-icon class="mr-2">wysiwyg</mat-icon>
                            </span>
                            <textarea [formControl]="message" rows="5" matInput placeholder="" ></textarea>
                        </mat-form-field>
                    </div>

                </div>

                <div class="row" style="padding-top: 10px; padding-left: 10px; padding-bottom: 10px;">

                    <div class="col-4">
                        <button (click)="save()" class="btn btn-info">ส่งการแจ้งเตือน</button>
                    </div>

                </div>



                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ngxTableHeader">
                                            <ul class="header-buttons-left ml-0">

                                                <li class="dropdown m-l-20">
                                                    <label for="search-input"><i
                                                            class="material-icons search-icon">search</i></label>
                                                    <input placeholder="Search" type="text"
                                                        class="browser-default search-field"
                                                        (keyup)='filterDatatable($event)' aria-label="Search box">
                                                </li>
                                            </ul>
                                        </div>

                                        <ngx-datatable #table class="material" [rows]="data" [columns]="columns"
                                            [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                                            [footerHeight]="50" [rowHeight]="'60'" [limit]="10">

                                            <ngx-datatable-column prop="title" name="หัวข้อ" [width]="150">
                                            </ngx-datatable-column>
                                            <ngx-datatable-column prop="message" name="รายละเอียด" [width]="150">
                                            </ngx-datatable-column>
                                            <ngx-datatable-column prop="dt" name="วันเวลา" [width]="150">
                                            </ngx-datatable-column>

                                            <ngx-datatable-column prop="id" name="ลบ" sortable="false" [width]="120">
                                                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                                    ngx-datatable-cell-template>
                                                    <span>


                                                        <button (click)="access(value)"
                                                            class="btn btn-danger">ลบ</button>

                                                    </span>
                                                </ng-template>
                                            </ngx-datatable-column>

                                        </ngx-datatable>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>



    </div>

</section>