<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Dashboard</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Widgets -->
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-green">done_outline</i>
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">การใช้งาน</p>
                                <div class="col-green">
                                    <h3 class="text-right mb-0">{{approve}}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- <p class="text-muted mt-3 mb-0">45% higher growth</p> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-orange">accessibility</i>
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">คำขอใช้งาน</p>
                                <div class="col-orange">
                                    <h3 class="text-right mb-0">{{req}}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- <p class="text-muted mt-3 mb-0">65% lower growth</p> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-blue">person_add</i>
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">New Patients</p>
                                <div class="col-blue">
                                    <h3 class="text-right mb-0">129</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">25% lower growth</p>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-red">local_activity</i>
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">Hospital Earning</p>
                                <div class="col-red">
                                    <h3 class="text-right mb-0">$20,125</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">15% higher growth</p>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- #END# Widgets -->


        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [sortType]="'multi'"
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'60'" [limit]="10">

                    <ngx-datatable-column prop="farm" name="โรงเรือน" [width]="150"></ngx-datatable-column>
                    <ngx-datatable-column prop="subFarm" name="แปลง" [width]="150"></ngx-datatable-column>


                    <ngx-datatable-column prop="gt" name="Gatway อุณหภูมิ" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <span>

                                <p style="color: green;" *ngIf="value!=='ไม่ทำงาน'">ทำงาน</p>
                                <p style="color: red;" *ngIf="value!=='ทำงาน'">ไม่ทำงาน</p>

                            </span>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column prop="gs" name="Gatway ความชื้นในดิน" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <span>

                                <p style="color: green;" *ngIf="value!=='ไม่ทำงาน'">ทำงาน</p>
                                <p style="color: red;" *ngIf="value!=='ทำงาน'">ไม่ทำงาน</p>

                            </span>
                        </ng-template>
                    </ngx-datatable-column>

    

                    <ngx-datatable-column prop="gf" name="Gatway ควบคุมหมอก" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <span>

                                <p style="color: green;" *ngIf="value!=='ไม่ทำงาน'">ทำงาน</p>
                                <p style="color: red;" *ngIf="value!=='ทำงาน'">ไม่ทำงาน</p>

                            </span>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column prop="gw" name="Gatway ควบคุมน้ำ" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <span>

                                <p style="color: green;" *ngIf="value!=='ไม่ทำงาน'">ทำงาน</p>
                                <p style="color: red;" *ngIf="value!=='ทำงาน'">ไม่ทำงาน</p>

                            </span>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column prop="gl" name="Gatway แสงสว่าง" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <span>

                                <p style="color: green;" *ngIf="value!=='ไม่ทำงาน'">ทำงาน</p>
                                <p style="color: red;" *ngIf="value!=='ทำงาน'">ไม่ทำงาน</p>

                            </span>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>

            </div>
        </div>


    </div>
</section>