<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">RealTime</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">RealTime</li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
            <div class="card">

                <div class="header">
                    <h2>
                        <strong>ข้อมูล RealTime</strong>
                    </h2>

                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="#" onClick="return false;" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a (click)="select()">ข้อมูลย้อนหลัง</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>



                <div class="row">

                    <div class="col-12">

                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>

                    </div>

                </div>
                <div class="row">

                    <div class="col-4">
                        
                        <radial-gauge highlights='[
                        {"from": -50, "to": 0, "color": "rgba(0,206,209, .75)"},
                        {"from": 0, "to": 25, "color": "rgba(0,209,108, .75)"},
                        {"from": 25, "to": 75, "color": "rgba(255,215,0, .75)"},
                        {"from": 75, "to": 150, "color": "rgba(200, 50, 50, .75)"}]' color-major-ticks="#ddd"
                            color-minor-ticks="#ddd" color-title="#eee" color-units="#ccc" color-numbers="#eee"
                            color-plate="#222" border-shadow-width="0" borders="true" needle-type="arrow"
                            needle-width="2" needle-circle-size="7" needle-circle-outer="true"
                            needle-circle-inner="false" animation-duration="1500" animation-rule="linear"
                            color-border-outer="#333" color-border-outer-end="#111" color-border-middle="#222"
                            color-border-middle-end="#111" color-border-inner="#111" color-border-inner-end="#333"
                            color-needle-shadow-down="#333" color-needle-circle-outer="#333"
                            color-needle-circle-outer-end="#111" color-needle-circle-inner="#111"
                            color-needle-circle-inner-end="#222" value-box-border-radius="0" color-value-box-rect="#222"
                            color-value-box-rect-end="#333" major-ticks="[-50 , 0 , 50 , 100 , 150]"
                            borders="false" min-value="-50" stroke-ticks="true" max-value="150" units="อุณหภูมิ °C"
                            [attr.value]="temperature" width="250" height="250"></radial-gauge>
                    </div>
                    <div class="col-4">
                        <radial-gauge highlights='[
                        {"from": 0, "to": 30, "color": "rgba(0,206,209, .75)"},
                        {"from": 30, "to": 50, "color": "rgba(0,209,108, .75)"},
                    
                        {"from": 50, "to": 100, "color": "rgba(200, 50, 50, .75)"}]' color-major-ticks="#ddd"
                            color-minor-ticks="#ddd" color-title="#eee" color-units="#ccc" color-numbers="#eee"
                            color-plate="#222" border-shadow-width="0" borders="true" needle-type="arrow"
                            needle-width="2" needle-circle-size="7" needle-circle-outer="true"
                            needle-circle-inner="false" animation-duration="1500" animation-rule="linear"
                            color-border-outer="#333" color-border-outer-end="#111" color-border-middle="#222"
                            color-border-middle-end="#111" color-border-inner="#111" color-border-inner-end="#333"
                            color-needle-shadow-down="#333" color-needle-circle-outer="#333"
                            color-needle-circle-outer-end="#111" color-needle-circle-inner="#111"
                            color-needle-circle-inner-end="#222" value-box-border-radius="0" color-value-box-rect="#222"
                            color-value-box-rect-end="#333" major-ticks="[0, 20,40,60,80,100]"
                            borders="false" min-value="0" stroke-ticks="true" max-value="100" units="ความชื้นในอากาศ %"
                            [attr.value]="hum" width="250" height="250"></radial-gauge>
                    </div>
                    <div class="col-4">
                        <radial-gauge highlights='[
                        {"from": 900, "to": 1023, "color": "rgba(0,206,209, .75)"},
                        {"from": 600, "to": 900, "color": "rgba(0,209,108, .75)"},
                        {"from": 300, "to": 600, "color": "rgba(255,215,0, .75)"},
                        {"from": 0, "to": 300, "color": "rgba(200, 50, 50, .75)"}]' color-major-ticks="#ddd"
                            color-minor-ticks="#ddd" color-title="#eee" color-units="#ccc" color-numbers="#eee"
                            color-plate="#222" border-shadow-width="0" borders="true" needle-type="arrow"
                            needle-width="2" needle-circle-size="7" needle-circle-outer="true"
                            needle-circle-inner="false" animation-duration="1500" animation-rule="linear"
                            color-border-outer="#333" color-border-outer-end="#111" color-border-middle="#222"
                            color-border-middle-end="#111" color-border-inner="#111" color-border-inner-end="#333"
                            color-needle-shadow-down="#333" color-needle-circle-outer="#333"
                            color-needle-circle-outer-end="#111" color-needle-circle-inner="#111"
                            color-needle-circle-inner-end="#222" value-box-border-radius="0" color-value-box-rect="#222"
                            color-value-box-rect-end="#333" major-ticks="[0, 200 , 400 , 600 , 800 , 1000 , 1023]"
                            borders="false" min-value="0" stroke-ticks="true" max-value="1023" units="ความชื้นในดิน"
                            [attr.value]="soil" width="250" height="250"></radial-gauge>
                    </div>
                </div>

                <div class="row">
                    <!-- <div class="col-4">
                        <radial-gauge highlights='[
                        {"from": 0, "to": 20, "color": "rgba(0,206,209, .75)"},
                        {"from": 20, "to": 50, "color": "rgba(0,209,108, .75)"},
                        {"from": 50, "to": 100, "color": "rgba(255,215,0, .75)"},
                        {"from": 100, "to": 200, "color": "rgba(200, 50, 50, .75)"}]' color-major-ticks="#ddd"
                            color-minor-ticks="#ddd" color-title="#eee" color-units="#ccc" color-numbers="#eee"
                            color-plate="#222" border-shadow-width="0" borders="true" needle-type="arrow"
                            needle-width="2" needle-circle-size="7" needle-circle-outer="true"
                            needle-circle-inner="false" animation-duration="1500" animation-rule="linear"
                            color-border-outer="#333" color-border-outer-end="#111" color-border-middle="#222"
                            color-border-middle-end="#111" color-border-inner="#111" color-border-inner-end="#333"
                            color-needle-shadow-down="#333" color-needle-circle-outer="#333"
                            color-needle-circle-outer-end="#111" color-needle-circle-inner="#111"
                            color-needle-circle-inner-end="#222" value-box-border-radius="0" color-value-box-rect="#222"
                            color-value-box-rect-end="#333" major-ticks="[0, 20,40,60,80,100,120,140,160,180,200]"
                            borders="false" min-value="0" stroke-ticks="true" max-value="200" units="CO PPM"
                             width="250" height="250"></radial-gauge>
                    </div> -->

                </div>


            </div>
        </div>
    </div>
</section>