<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card h-100">
          <div class="card-body">
            <div class="task-module">
              <div class="task-header">
                <div class="task-title">
                  <h2>Tasks</h2>
                  <h5>{{tasks.length}} Total task</h5>
                </div>
                <div class="header-button">
                  <button mat-raised-button color="primary" (click)="addNewTask(sidenav)">Add
                    Task</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <mat-sidenav-container class="task-container">
                    <mat-sidenav #sidenav [mode]="mode.value" position="end">
                      <div class="header">
                        <h2 class="header-title">{{dialogTitle}}</h2>
                        <div class="header-close m-r-0">
                          <button mat-icon-button *ngIf="!isNewEvent" (click)="deleteTask(sidenav)"
                            matTooltip="Delete Task">
                            <mat-icon>delete</mat-icon>
                          </button>
                          <button mat-icon-button *ngIf="isNewEvent" (click)="saveTask()" matTooltip="Save Task">
                            <mat-icon>save</mat-icon>
                          </button>
                          <button mat-icon-button *ngIf="!isNewEvent" (click)="editTask()" matTooltip="Edit Task">
                            <mat-icon>save</mat-icon>
                          </button>
                          <button mat-icon-button (click)="closeSlider(sidenav)">
                            <mat-icon>close</mat-icon>
                          </button>
                        </div>
                      </div>
                      <form class="register-form m-4" [formGroup]="taskForm">
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <mat-form-field [hidden]="true">
                              <input matInput formControlName="id">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <mat-form-field [hidden]="true">
                              <input matInput formControlName="img">
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Title</mat-label>
                              <input matInput formControlName="title">
                              <mat-icon matSuffix>turned_in_not</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-checkbox class="example-margin" formControlName="done" color="primary">Mark as
                              complete
                            </mat-checkbox>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Assigned Name</mat-label>
                              <mat-select formControlName="name">
                                <mat-option [value]="'Sarah Smith'">
                                  Sarah Smith
                                </mat-option>
                                <mat-option [value]="'John Deo'">
                                  John Deo
                                </mat-option>
                                <mat-option [value]="'Jens Brincker'">
                                  Jens Brincker
                                </mat-option>
                                <mat-option [value]="'Mark Hay'">
                                  Mark Hay
                                </mat-option>
                                <mat-option [value]="'Anthony Davie'">
                                  Anthony Davie
                                </mat-option>
                                <mat-option [value]="'Sue Woodger'">
                                  Sue Woodger
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Priority</mat-label>
                              <mat-select formControlName="priority">
                                <mat-option [value]="'Low'">
                                  Low
                                </mat-option>
                                <mat-option [value]="'Normal'">
                                  Normal
                                </mat-option>
                                <mat-option [value]="'High'">
                                  High
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Due date</mat-label>
                              <input matInput formControlName="due_date" [matDatepicker]="picker1">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <mat-form-field class="example-full-width" appearance="outline">
                              <mat-label>Event Details</mat-label>
                              <textarea matInput formControlName="note"></textarea>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
                          </div>
                        </div>
                      </form>
                    </mat-sidenav>
                    <mat-sidenav-content>
                      <div cdkDropList class="task-list" (cdkDropListDropped)="drop($event)"
                        style="position: relative; max-height: 500px;" [perfectScrollbar]>
                        <div class="task-box" *ngFor="let task of tasks" (click)="taskClick(task, sidenav)" cdkDrag>
                          <div>
                            <div class="task-handle m-r-20" cdkDragHandle>
                              <mat-icon aria-hidden="false">drag_indicator</mat-icon>
                            </div>
                          </div>
                          <mat-checkbox (change)="toggle(task, sidenav)" [checked]="!!task.done" class="m-r-15"
                            color="primary">
                          </mat-checkbox>
                          <div class="task-custom-placeholder" *cdkDragPlaceholder></div>
                          <div matTooltip="Title" [ngClass]="{done:task.done}">
                            {{task.title}}</div>
                          <div
                            [ngClass]="{'task-low': task.priority=='Low', 'task-high': task.priority=='High','task-normal': task.priority=='Normal'}">
                            <mat-icon matTooltip="Low" aria-hidden="false" class="lbl-low"
                              *ngIf="task?.priority == 'Low'">arrow_downward
                            </mat-icon>
                            <mat-icon matTooltip="High" aria-hidden="false" class="lbl-high"
                              *ngIf="task?.priority == 'High'">arrow_upward
                            </mat-icon>
                            <mat-icon matTooltip="Normal" aria-hidden="false" class="lbl-normal"
                              *ngIf="task?.priority == 'Normal'">
                              remove</mat-icon>
                            {{task.priority}}
                          </div>
                          <img src='{{ task.img }}' class="task-user-img" matTooltip='{{ task.name }}'>
                          <div class="task-date" matTooltip="Due Date">{{ task.due_date | date }}</div>
                        </div>
                      </div>
                    </mat-sidenav-content>
                  </mat-sidenav-container>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</section>
