<p>sub-farm works!</p>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">โรงเรือน</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">โรงเรือน</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <ngx-datatable #table class="material" [rows]="data" [columns]="columns" [sortType]="'multi'"
                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'60'" [limit]="10">

                    <ngx-datatable-column prop="farm" name="โรงเรือน" [width]="150"></ngx-datatable-column>
                    <ngx-datatable-column prop="subFarm" name="แปลง" [width]="150"></ngx-datatable-column>


                    <ngx-datatable-column prop="gt" name="Gatway อุณหภูมิ" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <span>

                                <p style="color: green;" *ngIf="value!=='ไม่ทำงาน'">ทำงาน</p>
                                <p style="color: red;" *ngIf="value!=='ทำงาน'">ไม่ทำงาน</p>

                            </span>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column prop="gs" name="Gatway ความชื้นในดิน" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <span>

                                <p style="color: green;" *ngIf="value!=='ไม่ทำงาน'">ทำงาน</p>
                                <p style="color: red;" *ngIf="value!=='ทำงาน'">ไม่ทำงาน</p>

                            </span>
                        </ng-template>
                    </ngx-datatable-column>

    

                    <ngx-datatable-column prop="gf" name="Gatway ควบคุมหมอก" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <span>

                                <p style="color: green;" *ngIf="value!=='ไม่ทำงาน'">ทำงาน</p>
                                <p style="color: red;" *ngIf="value!=='ทำงาน'">ไม่ทำงาน</p>

                            </span>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column prop="gw" name="Gatway ควบคุมน้ำ" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <span>

                                <p style="color: green;" *ngIf="value!=='ไม่ทำงาน'">ทำงาน</p>
                                <p style="color: red;" *ngIf="value!=='ทำงาน'">ไม่ทำงาน</p>

                            </span>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column prop="gl" name="Gatway แสงสว่าง" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <span>

                                <p style="color: green;" *ngIf="value!=='ไม่ทำงาน'">ทำงาน</p>
                                <p style="color: red;" *ngIf="value!=='ทำงาน'">ไม่ทำงาน</p>

                            </span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column prop="subFarm" name="รายละเอียด" sortable="false" [width]="120">
                        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                            ngx-datatable-cell-template>
                            <span>

                             <button class="btn btn-info" (click)="detail(value)">รายละเอียด</button>

                            </span>
                        </ng-template>
                    </ngx-datatable-column>


                </ngx-datatable>

            </div>
        </div>


    </div>

</section>