<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">โรงเรือน</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active">โรงเรือน</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5" (click)="gotoSub(1)" >
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-green">store</i>
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">โรงเรือนที่ 1</p>
                                <div class="col-green">
                                  
                                </div>
                            </div>
                        </div>
                        <!-- <p class="text-muted mt-3 mb-0">45% higher growth</p> -->
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5" (click)="gotoSub(2)" >
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-orange">store</i>
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">โรงเรือนที่ 2</p>
                                <div class="col-orange">
                                    
                                </div>
                            </div>
                        </div>
                        <!-- <p class="text-muted mt-3 mb-0">65% lower growth</p> -->
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                <div class="card infobox-5" (click)="gotoSub(3)">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left card-icon">
                                <i class="material-icons col-blue">store</i>
                            </div>
                            <div class="float-right">
                                <p class="text-right font-18">โรงเรือนที่ 3</p>
                                <div class="col-orange">
                                   
                                </div>
                            </div>
                        </div>
                        <!-- <p class="text-muted mt-3 mb-0">65% lower growth</p> -->
                    </div>
                </div>
            </div>

            
        </div>


    </div>

</section>